In [1]:
import pandas as pd
import numpy as np
import ast

In [6]:
# Load in the data
business = pd.read_csv('output files/business.csv')
review = pd.read_csv('output files/review_small.csv')
user = pd.read_csv('output files/user_PA.csv')

In [8]:
user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,is_elite,year
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,56,18,232,844,467,467,239,180,True,2007
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,157,251,1847,7054,3131,3131,1521,1946,True,2009
2,q_QQ5kBBwlCcbL1s4NVK3g,Jane,1221,2005-03-14 20:26:35,14953,9940,11211,"2006,2007,2008,2009,2010,2011,2012,2013,2014","xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...",1357,...,361,147,1212,5696,2543,2543,815,323,True,2005
3,AUi8MPWJ0mLkMfwbui27lg,John,109,2010-01-07 18:32:04,154,20,23,NaN,"gy5fWeSv3Gamuq9Ox4MV4g, lMr3LWU6kPFLTmCpDkACxg...",4,...,0,0,1,6,3,3,0,0,True,2010
4,1McG5Rn_UDkmlkZOrsdptg,Teresa,7,2009-05-26 16:11:11,18,3,13,NaN,"piejMEdRkGB7-1aL4lL5NQ, X0zFOU6iG95-feQKOXkgrA...",1,...,0,0,1,0,2,2,0,0,True,2009

In [4]:
business.head()

,business_id,name,address,city,postal_code,latitude,longitude,stars,review_count,categories,...,Seafood Markets,Wraps,Shaved Ice,Cupcakes,Greek,Flowers & Gifts,Home & Garden,French,Candy Stores,Chocolatiers & Shops
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,19107,39.955505,-75.155564,4.0,80,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,18054,40.338183,-75.471658,4.5,13,"Brewpubs, Breweries, Food",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,19106,39.953949,-75.143226,4.0,245,"Sushi Bars, Restaurants, Japanese",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,19147,39.943223,-75.162568,4.5,205,"Korean, Restaurants",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,19003,40.006707,-75.289671,3.5,109,"Pizza, Restaurants",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
review.head()

,review_id,user_id,business_id,stars
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0
1,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0
2,oyaMhzBSwfGgemSGuZCdwQ,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5.0
3,Xs8Z8lmKkosqW5mw_sVAoA,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5.0
4,G_5UczbCBJriUAbxz3J7Tw,clWLI5OZP2ad25ugMVI8gg,x4XdNhp0Xn8lOivzc77J-g,5.0

In [46]:
#merging data 
merged_data = pd.merge(review, business[["city","name","business_id"]],on="business_id", how="left")

In [47]:
merged_data

,review_id,user_id,business_id,stars,city,name
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,North Wales,Turning Point of North Wales
1,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,Philadelphia,Zaika
2,oyaMhzBSwfGgemSGuZCdwQ,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5.0,Philadelphia,Rittenhouse Grill
3,Xs8Z8lmKkosqW5mw_sVAoA,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5.0,Philadelphia,Good Karma Cafe
4,G_5UczbCBJriUAbxz3J7Tw,clWLI5OZP2ad25ugMVI8gg,x4XdNhp0Xn8lOivzc77J-g,5.0,Phoenixville,Thai Place Restaurant
...,...,...,...,...,...,...
903025,A5uNiAOGcU0M34sSGN6Wkg,JWhZs-vSggwN6WgxBHgIDw,B2xtWMBTyDtd-ndqqaIC1Q,1.0,King of Prussia,City Works
903026,MVg4YUQeEhCA7Z7RsBJSVg,7-7A0Avj47slLGV7yBFc8w,ytynqOUb3hjKeJfRj5Tshw,3.0,Philadelphia,Reading Terminal Market
903027,nLjbVsETpqO17RbFcqskkA,am7-gkH_PDz598oTdYSD6A,3gVSrS4kffGGZT8oXHsIcw,3.0,Philadelphia,Pod
903028,KlHxcAifUF5zDKpJCBrRsw,7ziWZULyiZv2TesYNMFf4g,qQO7ErS_RAN4Vs1uX0L55Q,4.0,Philadelphia,The Franklin Fountain
903029,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5.0,Bala Cynwyd,Lark

In [48]:
# Making separate df of Northwales for recommendation system 

North_Wales = merged_data[merged_data.city == "North Wales"]

In [12]:
print("Number of Unique users in review dataset:",review.user_id.nunique())
print("Number of Unique stars in review dataset:",review.stars.nunique())

Number of Unique users in review dataset: 280433
Number of Unique stars in review dataset: 5

In [50]:
rating = North_Wales.copy()
rating_mat = rating.pivot_table(index = 'user_id', columns = 'name')
rating_mat.columns = rating_mat.columns.droplevel()  # removing level
rating_mat.fillna(0, inplace=True) # replacing missing values with 0

In [51]:
rating_mat.head()

name,7-Eleven,ALDI,Agape Bakery,Alice Bakery & Confectionary,American Star Diner,Ariana's Ristorante Italiano,Assi Plaza,BBQ Chicken PA,Bacco Italian Restaurant,Bertucci's Italian Restaurant,...,The Metropolitan American Diner & Bar,The Pour House - North Wales,Tony's Pizza Palace,Trader Joe's,Turning Point of North Wales,Walgreens,Wawa,Wegmans Wine & Beer,WunderLick's Water Ice,Zoes Kitchen
user_id,,,,,,,,,,,,,,,,,,,,,
--F7iEaFFPO1UYemj-dUNw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-00kdEIhCt-ODaV4BS-EAg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-0KosxqqMBYNfJ7VuvBYDQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-1K2a9BI9qjlma21HmY0HA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-1MF2tosrw2WcCxeVNk81Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## User-Based Collaborative Filtering

In [52]:
from sklearn.metrics.pairwise import cosine_similarity

In [53]:
rating_sim = cosine_similarity(rating_mat)
rating_sim = pd.DataFrame(rating_mat, index = rating_mat.index, columns = rating_mat.index)

In [54]:
titles = business.loc[:,['business_id', 'name']]

In [55]:
# The following function will take in the movie id, then returns the top n recommendations.
def print_recommendations(original_item, top_n):
    """
    inputs: original_item <int>: is the id of the item we want to make 
                                 recommendation for
            top_n <int>: number of items we want to recommend for the 
                         original item
    """
    idx = original_item
    print("Your original item is", titles[titles['business_id'] == str(idx)]['name'].values)
    recommends = rating_sim.loc[str(idx)].sort_values(ascending = False)[1:].index
    for i in range(top_n):
        rec_bus = recommends[i]
        print("my number ", i+1, " recommendation is ", titles[titles['business_id'] == rec_bus]['name'].values)

In [58]:
print_recommendations('BBQ Chicken PA', 10)

Your original item is []

KeyError: 'BBQ Chicken PA'