In [ ]:
import seaborn as sns 
import pandas as pd
import matplotlib.pyplot as plt
import json,os
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from collections import Counter
# sentiment analysis 

import warnings
warnings.filterwarnings('ignore')
import re
from wordcloud import WordCloud, STOPWORDS
#viz
import matplotlib.pyplot as plt
import seaborn as sns 
import matplotlib.gridspec as gridspec 

# graph viz
import plotly.offline as pyo

from plotly.graph_objs import *
import plotly.graph_objs as go

#map section
import imageio
import folium
import folium.plugins as plugins
from mpl_toolkits.basemap import Basemap

## Converting Json files to Dataframe

###### Review file

In [ ]:
#since pd.readjson will cause memeory error, we read the file line by line
path = 'yelp_academic_dataset_review.json'
review = []
with open(path, encoding = 'utf-8') as fin:
    for line in fin:
        line_contents = json.loads(line)
        review.append(line_contents)

In [ ]:
review = pd.DataFrame(review)
review.shape

In [ ]:
review.head()

In [ ]:
#review.to_csv('yelp_review.csv')

###### User file

In [ ]:
#since pd.readjson will cause memeory error, we read the file line by line
path = 'yelp_academic_dataset_user.json'
user = []
with open(path, encoding = 'utf-8') as fin:
    for line in fin:
        line_contents = json.loads(line)
        user.append(line_contents)

In [ ]:
user = pd.DataFrame(user)
user.shape

In [ ]:
user.head()

In [ ]:
#user.to_csv('yelp_user.csv')

###### Business file

In [ ]:
#since pd.readjson will cause memeory error, we read the file line by line
path = 'yelp_academic_dataset_business.json'
business = []
with open(path, encoding = 'utf-8') as fin:
    for line in fin:
        line_contents = json.loads(line)
        business.append(line_contents)

In [ ]:
business = pd.DataFrame(business)
business.shape

In [ ]:
business.head()

In [ ]:
#business.to_csv('yelp_business.csv')

## Data Cleaning

### First we will chek the columns of the business data

In [ ]:
business =pd.read_csv("yelp_business.csv")

In [ ]:
business.columns

In [ ]:
business.isnull().sum()

In [ ]:
# Taking into the consideration the businesses which are open 
# 1 = open, 0 = closed
business = business[business['is_open']==1]

In [ ]:
business.isnull().sum()

In [ ]:
# let remove the rows for which categories are not mentioned
business.dropna(subset=['categories'], inplace=True)

In [ ]:
business

In [ ]:
# Sample it down to only the North America region 
lon_min, lon_max = -132.714844, -59.589844
lat_min, lat_max = 13.976715,56.395664

#create the selector
idx_NA = (business["longitude"]>lon_min) &\
            (business["longitude"]<lon_max) &\
            (business["latitude"]>lat_min) &\
            (business["latitude"]<lat_max)
#apply the selector to subset
NA_business=business[idx_NA]

#initiate the figure
plt.figure(figsize=(12,15))
m2 = Basemap(projection='merc',
             llcrnrlat=lat_min,
             urcrnrlat=lat_max,
             llcrnrlon=lon_min,
             urcrnrlon=lon_max,
             lat_ts=35,
             resolution='i')

m2.drawcoastlines()
m2.drawmapboundary(fill_color='aqua')                # aqua background
m2.fillcontinents(color='#11780C',lake_color='aqua')  # dark green land, aqua lakes
m2.drawstates(linewidth=0.5, color="black")
m2.drawcountries(linewidth=0.5, color="w")              # thin white line for country borders

# Plot the data
mxy = m2(NA_business["longitude"].tolist(), NA_business["latitude"].tolist())
m2.scatter(mxy[0], mxy[1], s=30, c="#FB1903", lw=0, alpha=0.05, zorder =20)

plt.title("North America Region")

In [ ]:
business_overall = business.assign(categories = business.categories.str.split(', ')).explode('categories')
cat = business_overall.categories.value_counts()
cat = cat.to_frame().reset_index()
cat.columns = ['Categories', 'Count']
cat

In [ ]:
cat= cat.sort_values(by = 'Count', ascending = False)

In [ ]:
cat = cat[0:20]
objects = list(cat.Categories)
y_pos = np.arange(len(objects))
Numbers = list(cat.Count)

fig = plt.figure(figsize=(20,15))
ax = fig.add_subplot(111)
plt.bar(y_pos, Numbers, align='center', alpha=1)
plt.xticks(y_pos, objects,rotation=90)
plt.ylabel('Number of Occurences')
plt.title('Top 20 Categories in Yelp dataset')
plt.show()

In [ ]:
business

In [ ]:
business.reset_index(inplace=True)

In [ ]:
business.drop(columns = ['Unnamed: 0'], inplace =True)

In [ ]:
b = pd.DataFrame()
category_filter = ['Restaurants' , 'Food' , 'Bars' , 'Sandwiches' , 'Pizza' , 'Coffee & Tea', 'Fast Food']
for index, row in business.categories.items():
    for category in category_filter:
        if category in row:
            b = b.append(business.iloc[index])
            break

In [ ]:
bus = b
bus["attributes"][1]

In [ ]:
bus

#### Now we shall see the distribution of state in this dataset

In [ ]:
state_count = bus.state.value_counts()

In [ ]:
state_count = state_count.to_frame().reset_index()
state_count.columns = ['State', 'Counts']

In [ ]:
objects = list(state_count.State)
y_pos = np.arange(len(objects))
Numbers = list(state_count.Counts)

fig = plt.figure(figsize=(20,10))
ax = fig.add_subplot(111)
plt.bar(y_pos, Numbers, align='center', alpha=1)
plt.xticks(y_pos, objects)
plt.ylabel('Number of Occurences')
plt.title('Distribution of State in Yelp dataset')
plt.show()

##### From this, graph, we see the statewise distribution of restaurants. As we can see, this data consists of restaurants present all over the world. For the sake of simplicity, we will focus on the restaurants present in Pennsylvania.

In [ ]:
business_in_PA = bus[bus.state == 'PA']

In [ ]:
business_in_PA = business_in_PA.reset_index(drop = True)

In [ ]:
business_in_PA